@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Smooch+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


body{
    margin:0;
    padding: 0;
    overflow: hidden;
}

.title{
    font-size: 25vh;

    color:#49def5;
    -webkit-text-stroke-width: 0.85vh;


    font-family: 'Play', sans-serif;
}

@keyframes animate-left-to-right{
    0%  {left: 0vw;   opacity: 0;}
    100%  {left: 25vw; opacity: 1;}
}

@keyframes animate-right-to-left{
    0%  {right: 0;   opacity: 0;}
    100%  {right: 25vw; opacity: 1;}
}

#blender{
    position: absolute;
    top: 0;
    opacity: 0;
    -webkit-text-stroke-color: darkgreen;

    animation-name: animate-left-to-right;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

#render{
    position: absolute;
    top: 25vh;
    opacity: 0;
    -webkit-text-stroke-color: green;

    animation-name: animate-right-to-left;
    animation-duration: 1.25s;
    animation-delay: 0.25s ;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

#background1{
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    z-index: -1;
    height: 27.5vh;
    

    background-image: linear-gradient(to bottom, #009205, #066e00);
}

#background2{
    position: absolute;
    top: 27.5vh;
    left:0;
    right: 0;
    z-index: -1;
    height: 35vh;    
    background-image: linear-gradient(to bottom, #066e00, #0c5c00);
}

#background3{
    position: absolute;
    top: 62.5vh;
    left:0;
    right: 0;
    z-index: -1;
    height: 37.5vh;
    
    background-image: linear-gradient(-45deg, #49d0f5, #4598e6);
}


@keyframes countdown{
    0%      {transform: scale(1);}
    5%      {transform: scale(1.2);}
    20%      {transform: scale(1);}
    25%      {transform: scale(1.2);}
    40%      {transform: scale(1);}
    45%      {transform: scale(1.2);}
    60%      {transform: scale(1);}
    65%      {transform: scale(1.2);}
    80%      {transform: scale(1);}
    85%      {transform: scale(1.2);}
}

#counter::before{
    animation-name: countdown;
    animation-duration: 5s;
}

#counter{
    font-size: 20vh;
    width:10vw;
    margin:auto;
    margin-top: 10vh;
    bottom: 10vh;
    text-align: center;
    animation-name: countdown;
    animation-duration: 5s;

    font-family: 'Play', sans-serif;
    color: darkgreen;
    -webkit-text-stroke-width: 0.85vh;
    -webkit-text-stroke-color: white;
}

@keyframes fade-in{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#subtitle{
    font-size: 10vh;
    margin:auto;
    margin-top: 50vh;
    bottom: 10vh;
    text-align: center;
    opacity: 0;
    
    font-family: 'Play', sans-serif;
    color: #49def5;

    animation-name: fade-in;
    animation-duration: 1.5s;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
}

#logo{
    position: absolute;
    height: 7.5vh;
    right:2.5vw;
    bottom:2.5vh;
    padding: 2.5vh;

    border-radius: 2vh;

    border: 2px dotted #41ABDC;
    background-color: rgba(255,255,255,0.25);
}

.codeclubCredit{
    position: absolute;
    height: 7.5vh;
    width:12.75vw;
    left:2.5vw;
    bottom:2.5vh;
    padding: 2.5vh;

    border-radius: 2vh;

    border: 2px dotted #41ABDC;
    background-color: rgba(255,255,255,0.25);

    color: #009205;
    font-size: 2.5vh;
    text-align: center;

    font-weight: 900;
    font-family: 'Comfortaa', cursive;
}

/*SPOTLIGHT*/

@keyframes animate-rotation-small{
    0% {transform: rotate(25deg); }
    100% {transform: rotate(35deg);}
}
@keyframes animate-rotation-big{
    0% {transform: rotate(50deg);}
    100% {transform: rotate(55deg);}
}

@keyframes animate-rotation-small-reverse{
    0% {transform: rotate(-25deg);}
    100% {transform: rotate(-35deg);}
}
@keyframes animate-rotation-big-reverse{
    0% {transform: rotate(-50deg);}
    100% {transform: rotate(-55deg);}
}

.cones{
    position: absolute;
    bottom:-7.5vh;
    left:50%;
    transform: translate(-50%);
}

.cones #cone1{
    position: inherit;

    height: 40vh;
    width: 7vw;

    transform-origin: bottom;
    opacity: 0.75;

    animation-name: animate-rotation-small-reverse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}
.cones #cone2{
    position: inherit;

    height: 40vh;
    width: 7vw;
    transform-origin: bottom;
    opacity: 0.75;

    animation-name: animate-rotation-small;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}
.cones #cone3{
    position: inherit;

    height: 40vh;
    width: 7vw;

    transform-origin: bottom;

    animation-name: animate-rotation-big-reverse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}
.cones #cone4{

    height: 40vh;
    width: 7vw;

    transform-origin: bottom;

    animation-name: animate-rotation-big;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

/* LOADBAR */
.loadbar{
    position: absolute;
    width: 100vw;
    height: 5vh;
    top: 62.5vh;
    left:0;
    z-index: 10;

    background-color: #49d0f5;
}

@keyframes loadbar-anim {
    0%{width:10vw;}
    100%{width: 110vw;}
}

.loadbar div{
    position: relative;
    left:-10vw;
    width:50vw;
    margin-top: .5vh;
    height:4vh;
    z-index: 11;

    border-radius: 5vh;

    background-color: #009205;

    animation-name: loadbar-anim;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

